@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProjectPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="container">
    <div class="row section" style="justify-content:space-around;">
				<div class="col-md-12">
					<p style="text-align:center; margin-top:-20px; margin-bottom:-30px"><a href="project1" style="text-decoration:none;">Personal Portfolio</a> |
					                                <a href="project2" style="text-decoration:none;">Eilidh's Trust |</a>
					                                <a href="project3" style="text-decoration:none;">MovieMatch |</a>
					                                <a href="project4" style="text-decoration:none;">Hats</a></p>
	            </div>
			

				<!-- Blog Post query goes here. -->
				<div class="col-md-6">
				    <div class="box-blog" style="height:950px">
				        <h5>@Model.Value("blog1Title", fallback: Fallback.ToAncestors)</h5>
						<p>@Model.Value("blog1Image", fallback: Fallback.ToAncestors)</p>
						<p>@Model.Value("blog1ShortText", fallback: Fallback.ToAncestors)</p>
					    <p style="text-decoration:none;">@Model.Value("blog1ButtonText", fallback: Fallback.ToAncestors)</p>
					 </div>
				</div>
	</div>
</div>


